/* This is the style for the Users png */

.user {
  display: flex;
  width: 80%;
  background: #f4f4f4;
  padding: 10px;
  margin: 0 10% 10px;
}
.user img {
  border-radius: 50px;
}
.user ul {
  list-style-type: none;
}
